/* CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* My code: */

:root {
  --main-color: #35477a;
  --accent-color: goldenrod;
  --accent-color-active: #bb8e1c;
  --element-color: white;
  --element-color-hover: #ccc;
  --element-color-active: #adadad;
  --font-color: black;
  --box-shadow-color: black;
  --grid-line-color: #333;
}

body {
    background-color: var(--main-color);
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* Button styles */

#button-container {
  display: flex;
  margin: 80px 0 40px 0;
  gap: 15px;
  font-size: 1.5rem;
}

.button {
  background-color: var(--element-color);
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  box-shadow: 4px 4px 5px var(--box-shadow-color);
}

.button:hover {
  background-color: var(--element-color-hover);
}

 .button:active {
  box-shadow: 2px 2px 5px var(--box-shadow-color);
  background-color: var(--element-color-active);
}

.button-active {
  box-shadow: none;
  background-color: var(--element-color-active);
  border-color: var(--accent-color-active);
}

.button-active:hover {
  background-color: var(--element-color-active);
}

 .button-active:active {
  box-shadow: none;
  background-color: var(--element-color-active);
}

#color-picker {
  height: auto;
}

/* Grid styles */

#grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    background-color: var(--element-color);
    border: 2px solid var(--accent-color);
}

.grid-item {
    background-color: var(--element-color);
    height: 6.25%;
    width: 6.25%;
    border: 1px solid var(--grid-line-color);
}